{% extends 'base.html' %}

  <title>Записи сообщества {{ group }}</title>

{% block content %}   

<body>
    <main>
      <div class="container py-5">
        <h1>{{ text }}</h1>
        <p>
          Группа тайных поклонников графа.
        </p>
        <article>
          {% for post in posts %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>      
          <p>{{ post.text }}</p> 
          {% endfor %}         
      </div>  
    </main>       
{% endblock %}
  </body>